{% extends 'template_relatorio.html' %}
{% block content %}
<section class="container-fluid">
    {% for key,value in resposta.items() %}
    <div class="row justify-content-between">
        <div class="col-2">
            <img src="{{url_for('static',filename='logo.png')}}" class="img-fluid" alt="LogoConsórcio">
        </div>
        <div class="col-2">
            <img src="{{url_for('static',filename='logoDETRAN.png')}}" class="img-fluid" align="right" alt="Logo Empresa do Consórcio">
        </div>
    </div>
    <div class="row justify-content-center">
         <div class="col-8 text-center ">
            <h6 class="align-middle"><a href="https://servicedeskpedrasverdes.atlassian.net/browse/{{key}}" target=”_blank”>{{key}}</a>-{{value['summary']}}</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-12 border border-secondary-subtle">
            <p>SITE: {{value['customfield_10060']['value']}} - {{value['customfield_10060']['child']['value']}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6 border border-secondary-subtle">
            <p>COORDENADOR:<br>ALEXANDER SANTOS</p>
        </div>
        <div class="col-6 border border-secondary-subtle">
            <p>TÉCNICO:<br>{{value['customfield_10116']['value']}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6 border border-secondary-subtle">
            <p>STATUS EQUIPAMENTO: <br>OPERANDO</p>
        </div>
        <div class="col-6 border border-secondary-subtle">
            <p>COORDENADA: <br>{{value['customfield_10117']}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6 border border-secondary-subtle">
            <p>MOTIVO DA VISITA:<br>PREVENTIVA</p>
        </div>
        <div class="col-6 border border-secondary-subtle">
            <p>ENDEREÇO:<br>{{value['customfield_10118']['content'][0]['content'][0]['text']}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 border border-secondary-subtle">
            <p>DATA DA VISITA: {{value['customfield_10139']|datetime_format }}
                <br>INÍCIO: {{value['customfield_10141']}}
                <br>FIM: {{value['customfield_10144']}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 border border-secondary-subtle">
            <br>
            <h6>Checklist de atendimento para manutenção preventiva</h6>

            <p>1-Efetuada a limpeza de lentes e cúpulas?<br>{{value['customfield_10106']['value']}}
            </p>

            <p>2-Necessário ajustes de posicionamento?<br>{{value['customfield_10107']['value']}}</p>


            <p>3-Foram verificadas as conexões de cabeamento lógico?<br>
                {{value['customfield_10108']['value']}}</p>


            <p>4-Foram verificados os componentes elétricos utilizados para alimentação dos equipamentos(nobreak,
                disjuntor e fusíveis)?<br>{{value['customfield_10109']['value']}}</p>


            <p>5-Foi verifica do os estado das baterias para alimentação externa(painelsolar)?
                <br>{{value['customfield_10110']['value']}}</p>


            <p>6-Efetuada a limpeza preventiva externa e interna dos equipamentos?<br>
                {{value['customfield_10111']['value']}}</p>


            <p>7-Foi verificado o reaperto dos contatos elétricos?<br>
                {{value['customfield_10112']['value']}}</p>


            <p>8-Foi verificada a vedaçãodo gabinete?<br>{{value['customfield_10113']['value']}}</p>


            <p>9-Há obstrução das lentes das câmeras?<br>{{value['customfield_10114']['value']}}</p>


            <p>10-Verificada a conectividade com o DSS?<br>{{value['customfield_10115']['value']}}</p>
        </div>

    </div>
    <div style="break-after:page"></div>
    <div class="row">
        <div class="col-12">
            <div class="row justify-content-center">
                <br>
                <h6>Evidências da visita no local <span class="info">Quantidade de anexos: {{anexos[key]|length}}</span> </h6>
                {%for anexo in anexos[key]%}
                <div class="col-5 m-3">
                    <img src="{{anexo}}" alt="imagem" class="img-fluid">
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    <div style="break-after:page"></div>
    {% endfor %}
</section>
{% endblock %}
