.login{
    height:100vh;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(204,204,204,1) 100%);
}

body p {
    font-size: 12px;
    font-weight: bold;
    box-sizing: border-box;
}

.info {
font-size: 10px;
font-weight: bold;
box-sizing: border-box;
color: #483285;
}

.link{
color: white;
margin: 0 10px;
text-decoration: none;
}
