{% extends 'template.html' %}
{% block content %}
<section class="container my-5">
    <section class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-4 text-center">
                <a class="link" href="{{url_for('perkons')}}">
                  <i class="bi bi-camera-video"></i> - Relatório Perkons
                </a>
            </div>
            <div class="col-4 text-center">
                <a class="link" href="{{url_for('velsis')}}">
                  <i class="bi bi-file-check"></i> - Relatório Velsis
                </a>
            </div>
            <div class="col-4 text-center">
                <a class="link" href="{{url_for('salas')}}">
                  <i class="bi bi-box-seam"></i> - Relatório Perkons (Salas)
                </a>
            </div>
        </div>
    </section>
</section>
{% endblock %}
